.containerCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 190px;
  margin-bottom: 150px;
}

.filter {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

@media screen and (min-width: 765px) {
  .containerCards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
